:root {
// Active: E7EBFB
// 	DFDFDF
// Time-Out button: DABB44

// Add icon: 6AFF79
// View icon: 5EB1FF
// Edit icon: FFA800
// Remove icon: FF0400
    --color-primary-1: #F2F9FF;
    --color-primary-green: #45C469;
    --color-primary-yellow: #EAD585;
    --color-primary-blue: #5DBFFF;

    --color-font-1: #555555;
    --color-font-2: #343434;
    --color-font-3: #959595;
    --color-line: #535353;
    --color-line-fade: #E1E1E1;
    --color-paginate: #BCBCBC;
    --color-save: #74C95F;
    --color-update: #F3CB23;
    --color-remove: #E93737;
    --color-about: #F3CB23;

    // -webkit-box-shadow: 0px 5px 10px -1px #000000; 
    // box-shadow: 0px 5px 10px -1px #000000;
    --shadow-light: .1rem .5rem .5rem rgba(0, 0, 0, .2);
}
* {
    margin:0;
    padding:0;
}
*::before,
::after{
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--color-primary-1);
    min-height: 100vh;
}