////////////////////////////////////////////
// Login Page
.logo {
    width: 50rem;
    height: 15rem;
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: row;

    &__company-name {
        width: 25rem;
        height: 15rem;
        font-size: 5rem;
        font-weight: 300;
        display: flex;
        justify-content: center;
        flex-direction: column;
        span {
            text-align: center;
        }
    }

    &__company-logo {
        width: 25rem;
        height: 15rem;
    }
}

.login {
    width: 50rem;
    height: 25rem;
    margin: 1rem auto 0 auto;
    background-color: #ffffff;
    box-shadow: var(--shadow-light);
    border-radius: 3px;

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__form-group {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__field {
        width: 65%;
        height: 3rem;
        margin-top: 5rem;
        padding-right: 5rem;
        border: 0;
        border-bottom: 1px solid var(--color-line-fade);
        outline: none;
        font-size: 1.5rem;
        // color: var(--color-font-3);
    }

    &__field::placeholder {
        color: var(--color-font-3);
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: -2rem;
        margin-top: 5rem;
        fill: var(--color-font-3);
    }

    &__button {
        width: 10rem;
        height: 4rem;
        border:none;
        border-radius: 2px;
        margin: 2rem auto 0 auto;
        background-color: var(--color-primary-green);
        color: #fff;
        outline-color: var(--color-line-fade);
    }
}

.employee {
    width: 50rem;
    height: 13rem;
    margin: 5rem auto 0 auto;
    background-color: #ffffff;
    box-shadow: var(--shadow-light);
    border-radius: 3px;

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__form-group {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__field {
        width: 65%;
        height: 3rem;
        margin-top: 1rem;
        border: none;
        border-bottom: 1px solid var(--color-line-fade);
        outline: none;
        font-size: 1.5rem;
        color: var(--color-font-3);
    }

    &__button {
        width: 65%;
        height: 4rem;
        border: none;
        border-radius: 2px;
        margin: 2rem auto 0 auto;
        outline-color: var(--color-line-fade);
        background-color: var(--color-primary-blue);
        color: #fff;
    }
}
////////////////////////////////////////////
// Main Menu Page

.menu {
    width: 25rem;
    height: 15rem;
    background-color: var(--color-primary-blue);
    color:#000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

    &__icon {
        width: 11rem;
        height: 11rem;
        margin-top: 2rem;
    }
}
////////////////////////////////////////////
// Management Page

.sidebar {
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    color: var(--color-font-1);
    
    &__company-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-weight: 300;
            margin: 2rem 0;
        }
        hr {
            width: 70%;
            border-top: 1px thin var(--color-line-fade);
        }
    }

    &__company-headname {
        font-size: 3rem;
    }

    &__company-tabname {
        font-size: 2rem;
    }
    &__user-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 1rem;
            font-weight: 300;
        }
    }
    &__user-image {
        width: 10rem;
        height: 10rem;
    }
}