.login-container {
    // max-width: 70rem;
    // min-height: 80rem;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 5rem;
    background-color: var(--color-primary-green);
}

.main-menu {
    width: 85rem;
    height: auto;
    margin: 20rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}