:root {
  --color-primary-1: #F2F9FF;
  --color-primary-green: #45C469;
  --color-primary-yellow: #EAD585;
  --color-primary-blue: #5DBFFF;
  --color-font-1: #555555;
  --color-font-2: #343434;
  --color-font-3: #959595;
  --color-line: #535353;
  --color-line-fade: #E1E1E1;
  --color-paginate: #BCBCBC;
  --color-save: #74C95F;
  --color-update: #F3CB23;
  --color-remove: #E93737;
  --color-about: #F3CB23;
  --shadow-light: .1rem .5rem .5rem rgba(0, 0, 0, .2);
}

* {
  margin: 0;
  padding: 0;
}

*::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-primary-1);
  min-height: 100vh;
}

.login-container {
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary-green);
}

.main-menu {
  width: 85rem;
  height: auto;
  margin: 20rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  width: 50rem;
  height: 15rem;
  margin: 8rem auto 0 auto;
  display: flex;
  flex-direction: row;
}
.logo__company-name {
  width: 25rem;
  height: 15rem;
  font-size: 5rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo__company-name span {
  text-align: center;
}
.logo__company-logo {
  width: 25rem;
  height: 15rem;
}

.login {
  width: 50rem;
  height: 25rem;
  margin: 1rem auto 0 auto;
  background-color: #ffffff;
  box-shadow: var(--shadow-light);
  border-radius: 3px;
}
.login__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.login__form-group {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__field {
  width: 65%;
  height: 3rem;
  margin-top: 5rem;
  padding-right: 5rem;
  border: 0;
  border-bottom: 1px solid var(--color-line-fade);
  outline: none;
  font-size: 1.5rem;
}
.login__field::placeholder {
  color: var(--color-font-3);
}
.login__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: -2rem;
  margin-top: 5rem;
  fill: var(--color-font-3);
}
.login__button {
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 2px;
  margin: 2rem auto 0 auto;
  background-color: var(--color-primary-green);
  color: #fff;
  outline-color: var(--color-line-fade);
}

.employee {
  width: 50rem;
  height: 13rem;
  margin: 5rem auto 0 auto;
  background-color: #ffffff;
  box-shadow: var(--shadow-light);
  border-radius: 3px;
}
.employee__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.employee__form-group {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee__field {
  width: 65%;
  height: 3rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid var(--color-line-fade);
  outline: none;
  font-size: 1.5rem;
  color: var(--color-font-3);
}
.employee__button {
  width: 65%;
  height: 4rem;
  border: none;
  border-radius: 2px;
  margin: 2rem auto 0 auto;
  outline-color: var(--color-line-fade);
  background-color: var(--color-primary-blue);
  color: #fff;
}

.menu {
  width: 25rem;
  height: 15rem;
  background-color: var(--color-primary-blue);
  color: #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.menu__icon {
  width: 11rem;
  height: 11rem;
  margin-top: 2rem;
}

.sidebar {
  width: 30rem;
  height: 100vh;
  background-color: #fff;
  color: var(--color-font-1);
}
.sidebar__company-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__company-name h2 {
  font-weight: 300;
  margin: 2rem 0;
}
.sidebar__company-name hr {
  width: 70%;
  border-top: 1px thin var(--color-line-fade);
}
.sidebar__company-headname {
  font-size: 3rem;
}
.sidebar__company-tabname {
  font-size: 2rem;
}
.sidebar__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__user-info h3 {
  margin-top: 1rem;
  font-weight: 300;
}
.sidebar__user-image {
  width: 10rem;
  height: 10rem;
}

/*# sourceMappingURL=style.css.map */
